body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}
nav {
  background-color: #333;
  padding: 10px;
}
nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}
header {
  padding: 20px;
  text-align: center;
  background-color: #e3e3e3;
}
section {
  padding: 20px;
}
footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
}
